In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Adwa,14.16,38.90,65.71,57,95,6.46,ET,2019-11-10 21:08:24
1,1,Bethel,60.79,-161.76,39.20,93,90,10.29,US,2019-11-10 21:05:45
2,2,Ribeira Grande,38.52,-28.70,64.40,82,20,3.36,PT,2019-11-10 21:08:25
3,3,Alice Springs,-23.70,133.88,55.40,16,81,3.36,AU,2019-11-10 21:06:13
4,4,San Quintin,17.54,120.52,70.97,90,73,3.85,PH,2019-11-10 21:06:32

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [18]:
city_data_df_gte_0_temp_df = city_data_df[city_data_df['Max Temp'] >= 0]

# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df_gte_0_temp_df[["Lat", "Lng"]]
# Get the maximum temperature (> 0).
max_temp = city_data_df_gte_0_temp_df["Max Temp"] 
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
                                 dissipating=False,
                                 point_radius=3,#px,
                                max_intensity=450)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=humidity, 
                                 dissipating=False, 
                                 max_intensity=450, 
                                 point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=cloudiness, 
                                 dissipating=False, 
                                 max_intensity=450, 
                                 point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=wind, 
                                 dissipating=False, 
                                 max_intensity=450, 
                                 point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [30]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
8,8,Bilma,18.69,12.92,78.66,14,53,7.99,NE,2019-11-10 21:07:14
17,17,Victoria,5.28,115.24,78.80,94,75,6.64,BN,2019-11-10 21:08:27
23,23,Avarua,-21.21,-159.78,75.20,83,0,8.05,CK,2019-11-10 21:08:28
35,35,Kapaa,22.08,-159.32,82.40,74,40,4.70,US,2019-11-10 21:05:13
36,36,Hithadhoo,-0.60,73.08,82.45,73,98,8.41,MV,2019-11-10 21:08:31
46,46,Sao Luiz Gonzaga,-28.41,-54.96,78.08,73,12,11.01,BR,2019-11-10 21:08:33
47,47,Bathsheba,13.22,-59.52,80.60,83,40,14.99,BB,2019-11-10 21:06:51
51,51,Butaritari,3.07,172.79,83.53,72,100,6.20,KI,2019-11-10 21:08:34
54,54,Manzanillo,19.05,-104.32,89.60,70,20,13.87,MX,2019-11-10 21:08:34
55,55,Hilo,19.71,-155.08,84.20,62,1,3.36,US,2019-11-10 21:08:35

In [31]:
preferred_cities_df.count()

City_ID       154
City          154
Lat           154
Lng           154
Max Temp      154
Humidity      154
Cloudiness    154
Wind Speed    154
Country       153
Date          154
dtype: int64

In [33]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                City Country  Max Temp    Lat     Lng Hotel Name
8              Bilma      NE     78.66  18.69   12.92
17          Victoria      BN     78.80   5.28  115.24
23            Avarua      CK     75.20 -21.21 -159.78
35             Kapaa      US     82.40  22.08 -159.32
36         Hithadhoo      MV     82.45  -0.60   73.08
46  Sao Luiz Gonzaga      BR     78.08 -28.41  -54.96
47         Bathsheba      BB     80.60  13.22  -59.52
51        Butaritari      KI     83.53   3.07  172.79
54        Manzanillo      MX     89.60  19.05 -104.32
55              Hilo      US     84.20  19.71 -155.08

In [34]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [38]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to the params dictionary as values to the location key.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [39]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
8,Bilma,NE,78.66,18.69,12.92,Expeditions Ténére voyages
17,Victoria,BN,78.80,5.28,115.24,Tiara Labuan Hotel
23,Avarua,CK,75.20,-21.21,-159.78,Paradise Inn
35,Kapaa,US,82.40,22.08,-159.32,Courtyard by Marriott Kaua'i at Coconut Beach
36,Hithadhoo,MV,82.45,-0.60,73.08,Scoop Guest House
46,Sao Luiz Gonzaga,BR,78.08,-28.41,-54.96,Xerife Hotel
47,Bathsheba,BB,80.60,13.22,-59.52,Atlantis Hotel
51,Butaritari,KI,83.53,3.07,172.79,Isles Sunset Lodge
54,Manzanillo,MX,89.60,19.05,-104.32,Hotel Zar Manzanillo
55,Hilo,US,84.20,19.71,-155.08,Hilo Seaside Hotel

In [45]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)


marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [43]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [44]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]